{% templatetag openblock %} load compress {% templatetag closeblock %}
{% templatetag openblock %} load static {% templatetag closeblock %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% templatetag openblock %} block title {% templatetag closeblock %}{{ project_name }} Title{% templatetag openblock %} endblock title {% templatetag closeblock %}</title>


  {% templatetag openblock %} compress css {% templatetag closeblock %}
      <link rel="stylesheet" type="text/x-scss" href="{% templatetag openblock %} static 'sass/custom.sass' {% templatetag closeblock %}" />
  {% templatetag openblock %} endcompress {% templatetag closeblock %}

  <script src="{% templatetag openblock %} static 'js/jquery-1.11.3.min.js' {% templatetag closeblock %}"></script>
  <script src="{% templatetag openblock %} static 'js/bootstrap.min.js' {% templatetag closeblock %}"></script>
  <script src="{% templatetag openblock %} static 'js/custom.js' {% templatetag closeblock %}"></script>

</head>
<body>
  {% templatetag openblock %} block content {% templatetag closeblock %}
  {% templatetag openblock %} endblock content {% templatetag closeblock %}
</body>
</html>